body {
    background-color:indigo;
}

.topo {
    font-size: 65px;
    font-weight: bold;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    margin-top: 70px;
    margin-bottom: 70px;
    color: goldenrod;
    text-shadow: 1px 1px 2px #4a3b32;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.topo img {
    width: 150px;
    height: 100px;
}
.container {
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.table {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    width: 1000px;
    height: 400px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightslategrey;
    width: 150px;
    height: 230px;
    border: 2px solid goldenrod;
    border-radius: 5%;
    margin-left: 15px;
    margin-top: 15px; 
}

.card:hover {
    cursor: pointer;
}

img {
    width: 140px;
    height: 150px;
}