body {
    background-color:indigo;
}

.topo {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Sherwood', sans-serif;
    margin-top: 70px;
    margin-bottom: 70px;
    color: goldenrod;
}

.container {
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.table {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    
    width: 1000px;
    height: 500px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightslategrey;
    width: 150px;
    height: 230px;
    border: 2px solid gold;
    border-radius: 5%;
    margin-left: 10px; 
}

.imgBackCard {
    
}

img {
    width: 140px;
    height: 150px;
}